main {
  margin-bottom: 15vh;
}

/* Kit */

p {
  font-family: "Jaldi", sans-serif;
  font-size: 2.5vh;
}

/* Hero */

.hero {
  margin-top: 8vh;
  flex-direction: column;
  width: 90%;

  overflow: hidden;
}

#projet-title {
  width: 14vw;
  margin-block-end: 2.1vh;
}

.date {
  font-family: "Jaldi", sans-serif;
}

.descProjet {
  margin-left: 5vw;
  margin-top: 9vh;
  width: 80%;
}

/* Introduction */

.introProjet {
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 5vh;
  background-color: #d9d9d917;
  overflow: hidden;
}

.introProjet h2,
.introProjet p {
  margin-left: 2vw;
}

.introProjet p {
  width: 90%;
}

/* Comp projet */

.compProjet {
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 5vh;
  background-color: #d9d9d917;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.compProjet h2 {
  float: right;
  width: 21vw;
  margin-right: 7vw;
}

.galleryComp {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-self: center;
  margin-top: 4vh;
}

.compGallery {
  width: 19vw;
  height: 24vh;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 255, 255, 0.948);
  color: #0f0f2b;
  text-align: center;
}

.compGallery p {
  font-size: 2.4vh;
  margin-top: -1vh;
}

/* Rendu */

.galleryRenduContainer {
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 5vh;
  background-color: #d9d9d917;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.galleryRenduContainer h2 {
    width: 16vw;
}

.galleryRendu {
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: auto;
    margin-top: 4vh;
}

.left-side {
    width: 70%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.img-left {
    height: 22vw;
    width: 22vw;
    background-color: #D9D9D9;
}

.gallery-right {
    height: 22vw;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 4vw;
}

.imgGallery {
    width: 9vw;
    height: 9vw;
    background-color: #D9D9D9;
}

.right-side {
    width: 30%;
    border-left: 6px solid #0f0f2b;
}

.right-side span a {
    color: white;
    text-decoration: none;
    font-size: larger;
    margin-left: 5%;
}
.right-side span p {
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 2vh;
}

